.sidebar-container {
  background-color: rgb(0, 44, 95);
  font-size: 1.5rem;
  width: 40px;
  height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  padding-top: 2.5rem;
  cursor: pointer;
}

.sidebar-container li {
  padding: 0.5rem 0;
  list-style: none;
  color: #f5f5f5;
}

.sidebar-container li:hover {
  background-color: darkcyan;
}
